<% options = yourDetailedTrip(@origin, @destination, @time)%>

<div class="alert alert-success" role="alert"><h2>Early</h2><p><%=
"Starting from #{options[0][0]}, your trip to #{options[0][1]} will take some time that I have left to implement. Board your train at #{options[0][0]} at #{options[0][3]} headed towards #{options[3]}, and you will arrive at #{options[0][1]} at #{options[0][5]}. Bring $#{options[0][2]} for fare. "%></p>
</div>

<div class="alert alert-warning" role="alert"><h2>On Time</h2><p><%=
"Starting from #{options[1][0]}, your trip to #{options[1][1]} will take some time that I have left to implement. Board your train at #{options[1][0]} at #{options[1][3]}, and you will arrive at #{options[1][1]} at #{options[1][5]}. Bring $#{options[1][2]} for fare. "%></p>
</div>

<div class="alert alert-danger" role="alert"><h2>Pushing It</h2><p><%=
"Starting from #{options[2][0]}, your trip to #{options[2][1]} will take some time that I have left to implement. Board your train at #{options[2][0]} at #{options[2][3]}, and you will arrive at #{options[2][1]} at #{options[2][5]}. Bring $#{options[2][2]} for fare. "%></p>
</div>

<a href="/detailed_trip/plan">Plan another trip?</a>