<!-- <div class="alert alert-success" role="alert"> -->
  <p><%= yourTrip(@origin, @destination, @time)%></p>
<!-- </div> -->

  <a href="/trip/plan" class = "navbar-btn btn-info btn pull-left">Plan another trip?</a>
<br>

<!-- <div class="alert alert-info" role="alert">...</div>
<div class="alert alert-warning" role="alert">...</div>
<div class="alert alert-danger" role="alert">...</div> -->