<div class = "jumbotron">
  <h1>Bart Smart</h1>
  <p>Bart Smart is a simple web app to help you get where you need to go. Use the above navbar to get around.
<!--   <ul>
    <li><a href="/stations/list"> List of Stations</a></li>
    <li><a href="/train/plan">See Next Train</a></li>
    <li><a href="/trip/plan">Plan a Trip</a></li>
    <li><a href="/detailed_trip/plan">Detailed Trip Planner</a></li>
  </ul> -->
</p>
  <a class = "btn btn-default">Very Cool.</a>
  <a class = "btn btn-info">Such wow.</a>
</div>



